target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
*.class
*.jar
*.war
*.ear
*.log
.DS_Store
.AppleDouble
.LSOverride
._*
*.iml
.idea
/extlibs/
/target/
/boost_1_60_0.zip
/nbproject/
CMakeFiles/
Makefile
*.dll
*.a
*.exe
cmake-build-debug/
.DS_Store